:root {
    --anarenk: #F0E9DF;
    --acikmavi: #84ccec;
    --koyumavi: #072039;
    --deneme: #0e3b68;
    --beyaz: #FAFAFA;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--anarenk);
    color: var(--koyumavi);
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--acikmavi);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-cont img {
    max-width: 150px;
    height: auto;
}

.search-cont {
    display: flex;
    gap: 10px;
    height: 33px;
    margin-left: 20px;
    margin-bottom: 3px;
}

#search-input {
    padding: 10px;
    border: 1px solid var(--koyumavi);
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--koyumavi);
    color: var(--beyaz);
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--deneme);
}
.profil-cont {
    display: flex;
    align-items: center;
    height: 25px;
    gap: 10px;
    background-color: var(--beyaz);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 800px;
}

.profil-foto img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--koyumavi);
}

.profil-name h1 {
    font-size: 15px;
    color: var(--koyumavi);
    margin: 0;
}

.button-cont button {
    padding: 10px 20px;
    border: none;
    background-color: var(--koyumavi);
    color: var(--beyaz);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.button-cont button:hover {
    background-color: var(--deneme);
}
.ilan-cont {
    width: 60%;
    margin: 30px auto;
    background-color: var(--beyaz);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ilan-cont h1 {
    text-align: center;
    color: var(--koyumavi);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid var(--koyumavi);
    border-radius: 5px;
    font-size: 14px;
}

select {
    padding: 10px;
    border: 1px solid var(--koyumavi);
    border-radius: 5px;
    font-size: 14px;

}


.submit-button {
    width: 100%;
    padding: 15px;
    background-color: var(--koyumavi);
    color: var(--beyaz);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: var(--deneme);
    transform: scale(1.05);
}

.submit-button:active {
    transform: scale(0.95);
}

p{
    font-size: large;
}

#anasayfa-button{
    padding: 10px 20px;
    border: none;
    background-color: var(--koyumavi);
    color: var(--beyaz);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}